:root {
    /* COLORS */
    --white: #FFFFFF;
    --gray: #CCCCCC;
    --cream: #F4F4F4;

    --bg-main: var(--white);
    --bg-sub: var(--cream);

    --border-main: 1px solid var(--gray);
}

body {
    background: var(--white);
}
