.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-sub);
    border-right: var(--border-main);
}

.row {
    display: flex;
    gap: 16px;
    padding: 8px;
    justify-content: space-between;
}

.green {
    color: green;
}

.red {
    color: red;
}
