.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    text-align: center;
}

.footer {
    text-align: center;
}

.contentWrapper {
    display: flex;
    flex-direction: row;
}

.main {
    flex: 1;
    place-items: center;
}
