.container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    font-size: 0.95rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.controller {
    display: flex;
    gap: 8px;
}
